# .gitignore at the root
node_modules/
build/
dist/

# .gitignore in frontend/ directory
pw-front/build/
pw-front/dist/
pw-front/build/

# .gitignore in backend/ directory
pw-back/node_modules/
pw-back/build/
pw-back/dist/
pw-back/data/

pw-back/vendor/palworld-convert-save/lib/__pycache__/*
pw-back/vendor/palworld-convert-save/lib/rawdata/__pycache__/*
__pycache__/*

.env.production

pw-back.service
pw-front.service

!vendor/.dont-touch
vendor/*
pw-back/.env
